I obtained a 2nd dataset which looks better than the first one. I will develop a second model and compare it to the first one to choose the better model.

### Loading primary libraries

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt              
import seaborn as sns

## Loading the new dataset

In [21]:
df = pd.read_csv('../data/Vehicle Price.csv')
print(f'CSV file loaded succesfully!')
df.head()

CSV file loaded succesfully!

,name,description,make,model,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,2024,74600.0,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,2024,50170.0,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive
2,2024 GMC Yukon XL Denali,NaN,GMC,Yukon XL,2024,96410.0,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive
3,2023 Dodge Durango Pursuit,White Knuckle Clearcoat 2023 Dodge Durango Pur...,Dodge,Durango,2023,46835.0,16V MPFI OHV,8.0,Gasoline,32.0,8-Speed Automatic,Pursuit,SUV,4.0,White Knuckle Clearcoat,Black,All-wheel Drive
4,2024 RAM 3500 Laramie,\n \n 2024 Ram 3500 Laramie Billet...,RAM,3500,2024,81663.0,24V DDI OHV Turbo Diesel,6.0,Diesel,10.0,6-Speed Automatic,Laramie,Pickup Truck,4.0,Silver,Black,Four-wheel Drive

## EDA & Preprocess

In [22]:
print(f'The dataframe is composed by {df.shape[0]} observations & {df.shape[1]} columns.')

The dataframe is composed by 1002 observations & 17 columns.

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1002 non-null   object
 1   description     946 non-null    object
 2   make            1002 non-null   object
 3   model           1002 non-null   object
 4   year            1002 non-null   int64
 5   price           979 non-null    float64
 6   engine          1000 non-null   object
 7   cylinders       897 non-null    float64
 8   fuel            995 non-null    object
 9   mileage         968 non-null    float64
 10  transmission    1000 non-null   object
 11  trim            1001 non-null   object
 12  body            999 non-null    object
 13  doors           995 non-null    float64
 14  exterior_color  997 non-null    object
 15  interior_color  964 non-null    object
 16  drivetrain      1002 non-null   object
dtypes: float64(4), int64(1), object(12)
memory usage: 133.2+ KB

In [24]:
print(f'Number of null values: {df.isna().sum().sum()}')
print(f'Every null value:\n{df.isna().sum()}')

Number of null values: 283
Every null value:
name                0
description        56
make                0
model               0
year                0
price              23
engine              2
cylinders         105
fuel                7
mileage            34
transmission        2
trim                1
body                3
doors               7
exterior_color      5
interior_color     38
drivetrain          0
dtype: int64

There are some null values & some columns which are in wrong types. Preprocess will begin with correcting null values.

First, i noticed that there are some null values on the Price column. This is a essential column, so if there are no price, the observation should not exist. I will drop the observations whose price column is empty.

In [26]:
# Droping null values from the Price column.
df = df.dropna(subset=['price'])
print(f'Null values from the Price column dropped successfully!')

Null values from the Price column dropped successfully!

In [27]:
# Checking new number of null values.
print(f'Number of null values: {df.isna().sum().sum()}')
print(f'Every null value:\n{df.isna().sum()}')

Number of null values: 256
Every null value:
name                0
description        56
make                0
model               0
year                0
price               0
engine              2
cylinders         102
fuel                7
mileage            34
transmission        2
trim                1
body                3
doors               7
exterior_color      5
interior_color     37
drivetrain          0
dtype: int64

Cylinders is an important column and it has a great amount of null values. I will do some research of the column to take an action.

In [28]:
df['cylinders'].unique()

array([ 6.,  8.,  4., nan,  3.,  0.])

As we know, it is impossible for a car to have 0 cylinders, so thats a null value too.

In [31]:
print('Value Counts of the Cylinders column:')
print(df['cylinders'].value_counts())

Value Counts of the Cylinders column:
cylinders
4.0    489
6.0    272
8.0     87
3.0     27
0.0      2
Name: count, dtype: int64

The mayority of cars have 4 cylinders, and other amount has 6. First, I will start by turning the 0 values into NaN.

In [33]:
df['cylinders'] = df['cylinders'].replace(0.0, np.nan)

100 null values are too many null values too drop or impute in a single columns. For this reason, i will do a random ponderated impute.

In [36]:
# Distribution in percentage of values.
distribution_cyl = df['cylinders'].value_counts(normalize=True)
print('Distribution of Cylinders (%):')
print(distribution_cyl)

Distribution of Cylinders (%):
cylinders
4.0    0.558857
6.0    0.310857
8.0    0.099429
3.0    0.030857
Name: proportion, dtype: float64

In [38]:
# Transforming the distribution to list.
values = distribution_cyl.index.tolist()
weights = distribution_cyl.values.tolist()

# Obtaining indexs of NaN values.
nan_index = df[df['cylinders'].isna()].index

# Generating random values based on the distribution.
random_values = np.random.choice(values, size=len(nan_index), p=weights)

# Imputing the random values into the NaN indexs.
df.loc[nan_index, 'cylinders'] = random_values
print(f'Null values from the Cylinders column imputed successfully!')

Null values from the Cylinders column imputed successfully!

In [39]:
print('Value Counts of the Cylinders column:')
print(df['cylinders'].value_counts())

Value Counts of the Cylinders column:
cylinders
4.0    556
6.0    300
8.0     96
3.0     27
Name: count, dtype: int64

In [40]:
# Checking new number of null values.
print(f'Number of null values: {df.isna().sum().sum()}')
print(f'Every null value:\n{df.isna().sum()}')

Number of null values: 154
Every null value:
name               0
description       56
make               0
model              0
year               0
price              0
engine             2
cylinders          0
fuel               7
mileage           34
transmission       2
trim               1
body               3
doors              7
exterior_color     5
interior_color    37
drivetrain         0
dtype: int64

Next stop in handling null values is the description column. Description is a text free columns (object) that will not be easy for the ML library to use. It has some null values and the columns doesn't have much importance by itself. Therefore, the column will be dropped.

In [41]:
# Droping the description column.
df = df.drop(columns=['description'])
print(f'Description column dropped successfully!')

Description column dropped successfully!

In [42]:
# Checking new number of null values.
print(f'Number of null values: {df.isna().sum().sum()}')
print(f'Every null value:\n{df.isna().sum()}')

Number of null values: 98
Every null value:
name               0
make               0
model              0
year               0
price              0
engine             2
cylinders          0
fuel               7
mileage           34
transmission       2
trim               1
body               3
doors              7
exterior_color     5
interior_color    37
drivetrain         0
dtype: int64

Checking values distribution for the next columns with null values.

In [46]:
print(f'Fuel unique values: {df['fuel'].unique()}')
print(f'Fuel distribution:\n{df['fuel'].value_counts()}')

Fuel unique values: ['Gasoline' 'Diesel' 'Hybrid' 'Electric' 'E85 Flex Fuel'
 'PHEV Hybrid Fuel' nan 'Diesel (B20 capable)']
Fuel distribution:
fuel
Gasoline                647
Hybrid                  135
Electric                 96
Diesel                   72
PHEV Hybrid Fuel         16
E85 Flex Fuel             5
Diesel (B20 capable)      1
Name: count, dtype: int64

Fuel columns has only 7 null values that will be imputed by mode.

In [47]:
# Imputing null values in the fuel column by mode.
df['fuel'] = df['fuel'].fillna(df['fuel'].mode()[0])
print(f'Null values from the Fuel column imputed successfully!')

Null values from the Fuel column imputed successfully!

Repeating process with engine column.

In [52]:
print(f'Number of unique values in the engine column: {df['engine'].nunique()}')
# Showing the distribution of the engine column.
print(f'Engine unique values: {df['engine'].value_counts()}')

Number of unique values in the engine column: 100
Engine unique values: engine
16V GDI DOHC Turbo                                           120
16V GDI DOHC Turbo Hybrid                                     92
c                                                             92
24V MPFI DOHC                                                 53
16V MPFI OHV                                                  46
                                                            ...
16V MPFI DOHC Hybrid                                           1
o                                                              1
4L V-8 VVT variable valve control, regular unleaded, engi      1
DOHC, D-CVVT variable valve control, regular unleaded, en      1
8 gasoline direct injection, variable valve control, regu      1
Name: count, Length: 100, dtype: int64

In [53]:
# Imputing null values in the fuel column by mode.
df['engine'] = df['engine'].fillna(df['engine'].mode()[0])
print(f'Null values from the Engine column imputed successfully!')

Null values from the Engine column imputed successfully!

In [54]:
# Checking new number of null values.
print(f'Number of null values: {df.isna().sum().sum()}')
print(f'Every null value:\n{df.isna().sum()}')

Number of null values: 89
Every null value:
name               0
make               0
model              0
year               0
price              0
engine             0
cylinders          0
fuel               0
mileage           34
transmission       2
trim               1
body               3
doors              7
exterior_color     5
interior_color    37
drivetrain         0
dtype: int64

Checking data from mileage column.

In [56]:
# Number of unique values.
print(f'Number of unique values in the mileage column: {df['mileage'].nunique()}')
# Distribution.
print(f'Mileage unique values: {df['mileage'].value_counts()}')

Number of unique values in the mileage column: 91
Mileage unique values: mileage
5.0      113
0.0      109
10.0     103
1.0       58
6.0       50
        ...
241.0      1
66.0       1
41.0       1
141.0      1
296.0      1
Name: count, Length: 91, dtype: int64

In [57]:
# Showing values whre mileage is null.
print(f'Null values in the Mileage column:\n{df[df['mileage'].isna()]}')

Null values in the Mileage column:
                                           name        make  \
27             2024 Chrysler Pacifica Touring-L    Chrysler
47               2024 Subaru Outback Wilderness      Subaru
63           2024 Jeep Grand Cherokee L Limited        Jeep
73                      2024 Jeep Wagoneer Base        Jeep
84           2024 Jeep Grand Cherokee L Limited        Jeep
87                    2024 Buick Envista Avenir       Buick
93                          2024 Ford Ranger XL        Ford
177               2024 Lincoln Nautilus Reserve     Lincoln
217                2024 Jeep Wrangler 4xe Sport        Jeep
219                 2024 Honda Prologue TOURING       Honda
225                 2024 Volkswagen Taos 1.5T S  Volkswagen
234                     2024 Jeep Wagoneer Base        Jeep
261                2024 Jeep Wagoneer Series II        Jeep
262                 2023 Jeep Compass Trailhawk        Jeep
365                   2024 Jeep Compass Limited        Jeep
399                2024 Jeep Wagoneer Series II        Jeep
461                        2024 Dodge Hornet GT       Dodge
476              2024 Subaru Outback Wilderness      Subaru
489                 2024 Honda Prologue TOURING       Honda
490                 2024 Honda Prologue TOURING       Honda
503            2024 Chrysler Pacifica Touring-L    Chrysler
594                2024 Jeep Wrangler 4xe Sport        Jeep
596               2023 Jeep Wrangler 4xe Sahara        Jeep
607              2024 Jeep Wagoneer L Series II        Jeep
628                  2024 Dodge Hornet R/T Plus       Dodge
629                      2024 Toyota Corolla LE      Toyota
801                 2024 Subaru Outback Premium      Subaru
847       2024 Jeep Grand Cherokee 4xe Overland        Jeep
879          2024 Jeep Grand Cherokee L Limited        Jeep
885  2024 Hyundai Tucson Hybrid SEL Convenience     Hyundai
906                   2024 Buick Envista Avenir       Buick
916            2024 Jeep Grand Cherokee Limited        Jeep
922                 2024 Subaru Outback Limited      Subaru
980                          2024 Kia Forte LXS         Kia

                  model  year    price                     engine  cylinders  \
27             Pacifica  2024  48705.0              24V MPFI DOHC        6.0
47              Outback  2024  44354.0         16V GDI DOHC Turbo        4.0
63     Grand Cherokee L  2024  51360.0              24V MPFI DOHC        6.0
73             Wagoneer  2024  63057.0    24V GDI DOHC Twin Turbo        6.0
84     Grand Cherokee L  2024  49390.0                        OHV        6.0
87              Envista  2024  31805.0         12V GDI DOHC Turbo        3.0
93               Ranger  2024  38740.0         16V GDI DOHC Turbo        4.0
177            Nautilus  2024  64370.0         16V GDI DOHC Turbo        4.0
217        Wrangler 4xe  2024  50755.0  16V GDI DOHC Turbo Hybrid        4.0
219            Prologue  2024  55800.0                          c        8.0
225                Taos  2024  25895.0         16V GDI DOHC Turbo        4.0
234            Wagoneer  2024  65928.0    24V GDI DOHC Twin Turbo        6.0
261            Wagoneer  2024  72908.0    24V GDI DOHC Twin Turbo        6.0
262             Compass  2023  37105.0         16V GDI DOHC Turbo        4.0
365             Compass  2024  38481.0         16V GDI DOHC Turbo        4.0
399            Wagoneer  2024  75888.0    24V GDI DOHC Twin Turbo        6.0
461              Hornet  2024  30900.0         16V GDI DOHC Turbo        4.0
476             Outback  2024  44354.0         16V GDI DOHC Turbo        4.0
489            Prologue  2024  55800.0                          c        6.0
490            Prologue  2024  55800.0                          c        4.0
503            Pacifica  2024  46163.0              24V MPFI DOHC        6.0
594        Wrangler 4xe  2024  51350.0  16V GDI DOHC Turbo Hybrid        4.0
596        Wrangler 4xe  2023  63715.0  16V GDI DOHC Turbo Hybrid        4.0
607          Wagoneer L  2024  83845.0    24V GDI DOHC Twin Turbo        6.0
628              Hornet  2024  49885.0  16V GDI DOHC Turbo Hybrid        4.0
629             Corolla  2024  22623.0               16V PDI DOHC        4.0
801             Outback  2024  32490.0               16V GDI DOHC        4.0
847  Grand Cherokee 4xe  2024  78655.0  16V GDI DOHC Turbo Hybrid        4.0
879    Grand Cherokee L  2024  49390.0                        OHV        6.0
885       Tucson Hybrid  2024  37215.0  16V GDI DOHC Turbo Hybrid        4.0
906             Envista  2024  31805.0         12V GDI DOHC Turbo        3.0
916      Grand Cherokee  2024  49842.0              24V MPFI DOHC        6.0
922             Outback  2024  39822.0               16V GDI DOHC        4.0
980               Forte  2024  21070.0              16V MPFI DOHC        4.0

         fuel  mileage                    transmission             trim  \
27   Gasoline      NaN               9-Speed Automatic        Touring-L
47   Gasoline      NaN                   Automatic CVT       Wilderness
63   Gasoline      NaN               8-Speed Automatic          Limited
73   Gasoline      NaN               8-Speed Automatic             Base
84   Gasoline      NaN               8-Speed Automatic          Limited
87   Gasoline      NaN               6-Speed Automatic           Avenir
93   Gasoline      NaN              10-Speed Automatic               XL
177  Gasoline      NaN               8-Speed Automatic          Reserve
217    Hybrid      NaN               8-Speed Automatic            Sport
219  Gasoline      NaN               1-Speed Automatic          TOURING
225  Gasoline      NaN  7-Speed DSGA? Automatic w/ 4MO           1.5T S
234  Gasoline      NaN               8-Speed Automatic             Base
261  Gasoline      NaN               8-Speed Automatic        Series II
262  Gasoline      NaN               8-Speed Automatic        Trailhawk
365  Gasoline      NaN               8-Speed Automatic          Limited
399  Gasoline      NaN               8-Speed Automatic        Series II
461  Gasoline      NaN               9-Speed Automatic               GT
476  Gasoline      NaN                   Automatic CVT       Wilderness
489  Gasoline      NaN               1-Speed Automatic          TOURING
490  Gasoline      NaN               1-Speed Automatic          TOURING
503  Gasoline      NaN               9-Speed Automatic        Touring-L
594    Hybrid      NaN               8-Speed Automatic            Sport
596    Hybrid      NaN               8-Speed Automatic           Sahara
607  Gasoline      NaN               8-Speed Automatic        Series II
628    Hybrid      NaN               6-Speed Automatic         R/T Plus
629  Gasoline      NaN                   Automatic CVT               LE
801  Gasoline      NaN                   Automatic CVT          Premium
847    Hybrid      NaN               8-Speed Automatic         Overland
879  Gasoline      NaN               8-Speed Automatic          Limited
885    Hybrid      NaN               6-Speed Automatic  SEL Convenience
906  Gasoline      NaN               6-Speed Automatic           Avenir
916  Gasoline      NaN               8-Speed Automatic          Limited
922  Gasoline      NaN                   Automatic CVT          Limited
980  Gasoline      NaN                   Automatic CVT              LXS

              body  doors                      exterior_color interior_color  \
27   Passenger Van    4.0                       Diamond Black          Black
47             SUV    4.0                           Magnetite           Gray
63             SUV    4.0              Bright White Clearcoat  Beige / Black
73             SUV    4.0                            Metallic          Black
84             SUV    4.0                       Diamond Black   Global Black
87             SUV    4.0                 Ocean Blue Metallic          Ebony
93    Pickup Truck    4.0            Carbonized Gray Metallic          Ebony
177            SUV    4.0                       Gray Metallic     Black Onyx
217            SUV    4.0              Bright White Clearcoat          Black
219            SUV    4.0                                  BX           Gray
225            SUV    4.0             Deep Black Pearl Effect          Black
234            SUV    4.0              Bright White Clearcoat          Black
261            SUV    4.0                       Diamond Black          Black
262            SUV    4.0  Granite Crystal Clearcoat Metallic       Ruby Red
365            SUV    4.0                       Silver Zynith  Sepia / Black
399            SUV    4.0                     Riverrock Green          Black
461            SUV    4.0                              8 BALL          Black
476            SUV    4.0                        Autumn Green           Gray
489            SUV    4.0                               Pearl          Black
490            SUV    4.0                                Gray          Black
503  Passenger Van    4.0              Bright White Clearcoat          Black
594            SUV    4.0                     Anvil Clearcoat          Black
596            SUV    4.0             Silver Zynith Clearcoat          Black
607            SUV    4.0              Bright White Clearcoat          Black
628            SUV    4.0                          Blue Steel          Black
629          Sedan    4.0                              Silver          Black
801            SUV    4.0                 Crystal White Pearl          Black
847            SUV    4.0                        Midnight Sky   Global Black
879            SUV    4.0                       Diamond Black   Global Black
885            SUV    4.0                         Black Pearl           Gray
906            SUV    4.0                 Ocean Blue Metallic          Ebony
916            SUV    4.0              Bright White Clearcoat  Beige / Black
922            SUV    4.0                 Crystal White Pearl          Black
980          Sedan    4.0                          Steel Gray          Black

            drivetrain
27     All-wheel Drive
47     All-wheel Drive
63    Rear-wheel Drive
73    Four-wheel Drive
84    Four-wheel Drive
87   Front-wheel Drive
93    Four-wheel Drive
177    All-wheel Drive
217   Four-wheel Drive
219    All-wheel Drive
225    All-wheel Drive
234   Four-wheel Drive
261   Four-wheel Drive
262   Four-wheel Drive
365   Four-wheel Drive
399   Four-wheel Drive
461    All-wheel Drive
476    All-wheel Drive
489    All-wheel Drive
490    All-wheel Drive
503  Front-wheel Drive
594   Four-wheel Drive
596   Four-wheel Drive
607   Four-wheel Drive
628    All-wheel Drive
629  Front-wheel Drive
801    All-wheel Drive
847   Four-wheel Drive
879   Four-wheel Drive
885    All-wheel Drive
906  Front-wheel Drive
916   Four-wheel Drive
922    All-wheel Drive
980  Front-wheel Drive

In [62]:
df.iloc[93]

name                   2024 Ford Ranger XL
make                                  Ford
model                               Ranger
year                                  2024
price                              38740.0
engine                  16V GDI DOHC Turbo
cylinders                              4.0
fuel                              Gasoline
mileage                                NaN
transmission            10-Speed Automatic
trim                                    XL
body                          Pickup Truck
doors                                  4.0
exterior_color    Carbonized Gray Metallic
interior_color                       Ebony
drivetrain                Four-wheel Drive
Name: 93, dtype: object

After checking for some observations, the mayority of null values on this column are new cars (based on their price). Therefore, i will change Nan for 0.

In [63]:
# Turning NaN values into 0.
df['mileage'] = df['mileage'].fillna(0)
print(f'Null values from the Mileage column imputed successfully!')

Null values from the Mileage column imputed successfully!

Continuing with interior color.

In [66]:
# Unique values of interior color.
print(f'Number of unique values on Interior Color: {df['interior_color'].nunique()}')
# Distribution of interior color.
print(f'Interior Color unique values: {df['interior_color'].value_counts()}')

Number of unique values on Interior Color: 90
Interior Color unique values: interior_color
Black           497
Global Black     83
Gray             76
Jet Black        45
Ebony            38
               ...
Caramel           1
gray              1
Dark Palazzo      1
Gray/Black        1
Navy Pier         1
Name: count, Length: 90, dtype: int64

Most of the car has black as interior color. I don't think this is one the most important columns, so i will impute the null data with mode.

In [67]:
# Imputing null values in the interior color column by mode.
df['interior_color'] = df['interior_color'].fillna(df['interior_color'].mode()[0])
print(f'Null values from the Interior Color column imputed successfully!')

Null values from the Interior Color column imputed successfully!

In [68]:
# Checking new number of null values.
print(f'Number of null values: {df.isna().sum().sum()}')
print(f'Every null value:\n{df.isna().sum()}')

Number of null values: 18
Every null value:
name              0
make              0
model             0
year              0
price             0
engine            0
cylinders         0
fuel              0
mileage           0
transmission      2
trim              1
body              3
doors             7
exterior_color    5
interior_color    0
drivetrain        0
dtype: int64

Finally, all this columns have less than 10 null values, so all of them will be imputed by mode.

In [69]:
# Imputing null values in the transmission, trim, body, doors and exterior color columns by mode.
columns_to_impute = ['transmission', 'trim', 'body', 'doors', 'exterior_color']
for column in columns_to_impute:
    df[column] = df[column].fillna(df[column].mode()[0])
    print(f'Null values from the {column} column imputed successfully!')

Null values from the transmission column imputed successfully!
Null values from the trim column imputed successfully!
Null values from the body column imputed successfully!
Null values from the doors column imputed successfully!
Null values from the exterior_color column imputed successfully!

In [70]:
print(f'Number of null values: {df.isna().sum().sum()}')

Number of null values: 0

I will finish the preprocess section changing some float types columns to int columns.

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 979 entries, 0 to 1001
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            979 non-null    object
 1   make            979 non-null    object
 2   model           979 non-null    object
 3   year            979 non-null    int64
 4   price           979 non-null    float64
 5   engine          979 non-null    object
 6   cylinders       979 non-null    float64
 7   fuel            979 non-null    object
 8   mileage         979 non-null    float64
 9   transmission    979 non-null    object
 10  trim            979 non-null    object
 11  body            979 non-null    object
 12  doors           979 non-null    float64
 13  exterior_color  979 non-null    object
 14  interior_color  979 non-null    object
 15  drivetrain      979 non-null    object
dtypes: float64(4), int64(1), object(11)
memory usage: 162.3+ KB

In [72]:
# Selecting float columns to convert to int.
float_columns = ['cylinders','mileage','doors']
# Converting float columns to int.
for col in float_columns:
    df[col] = df[col].astype(int)
    print(f'Column {col} converted to int successfully!')

Column cylinders converted to int successfully!
Column mileage converted to int successfully!
Column doors converted to int successfully!